<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ventas WebApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
<div class="layout">

    <!-- SIDEBAR -->
    <aside class="sidebar">
        <div class="logo">
            <a href="{{ url_for('index') }}" class="logo-link">
                <img src="{{ url_for('static', filename='images/logoinvert.png') }}"
                     alt="Logo Lunita Val"
                     class="logo">
            </a>
        </div>

        <nav class="menu">
            <a href="{{ url_for('index') }}" class="menu_btn">Vender</a>
            <a href="{{ url_for('sales.shipments_view') }}" class="menu_btn">Gestión de Cadeteria</a>
            <a href="{{ url_for('explore_sales') }}" class="menu_btn">Explorar ventas</a>
            <a href="{{ url_for('customers.manage_customers_view') }}" class="menu_btn">Clientes</a>
            <a href="{{ url_for('proximamente_view') }}" class="menu_btn">Retiro</a>
            <a href="{{ url_for('proximamente_view') }}"" class="menu_btn">Correo</a>
            <a href="{{ url_for('proximamente_view') }}" class="menu_btn">Venta en Vivo</a>
        </nav>
    </aside>

    <!-- CONTENIDO PRINCIPAL -->
    <div class="main-content">

        <!-- HEADER -->
        <header class="header">
            <h1 class="view-title">Ventas</h1>

            <div class="dashboard" id="salesDashboard">
                <div><strong>Total vendido:</strong> <span id="totalVendido">0</span></div>
                <div><strong>Cantidad de ventas:</strong> <span id="cantidadVentas">0</span></div>
                <div><strong>Total pagado:</strong> <span id="totalPagado">0</span></div>
                <div><strong>Total impago:</strong> <span id="totalImpago">0</span></div>
                <button id="resetTurnBtn" class="btn">Reset</button>
            </div>
        </header>

        <!-- MAIN -->
        <main class="content">
            <div class="content-column">
                
                <!-- CREAR VENTA -->
                <div class="forms-wrapper one-form" id="formsWrapper">

                <!-- FORM VENTA -->
                <section class="form-panel" id="saleFormPanel">
                    <div class="section-header">
                        <h2>Crear venta</h2>
                        <button type="button" id="btnNewCustomer" class="btn">Nuevo cliente</button>
                    </div>
                    <br>
                    <form id="saleForm">
                        <!-- Punto de venta -->
                         <div class="form-group">
                            <label class="form-label">Punto de venta:   </label>
                                  <div class="form-options">
                            

                            <label class="option">
                                <input type="radio" name="salesChannel" value="SHOWROOM"> Showroom
                            </label>

                            <label class="option">
                                <input type="radio" name="salesChannel" value="VIVO"> Vivo
                            </label>

                            <label class="option">
                                <input type="radio" name="salesChannel" value="WHATSAPP"> WhatsApp
                            </label>
                            </div>
                        </div>

                        <!-- Cliente -->
                        <div class="form-group">
                            <label>Cliente:</label>
                            <input type="text" class="input-text" id="customer_name" placeholder="Escriba nombre o apellido" autocomplete="off">
                            <div id="suggestions" class="suggestions"></div>
                            <input type="hidden" id="customer_id">
                        </div>

                        <!-- Info cliente -->
                        <div id="customer_info" class="info-box hidden">
                            <h3>Datos del cliente</h3>
                            <p><strong>Nombre:</strong> <span id="info_name"></span></p>
                            <p><strong>Dirección:</strong> <span id="info_address"></span></p>
                            <p><strong>Localidad:</strong> <span id="info_city"></span></p>
                        </div>

                        <!-- Monto -->
                        <div class="form-group horizontal-group">
                            <div class="left">
                            
                            <label>Monto:</label>
                            <div class="money-input">
                            <span class="currency">$</span>
                            <input type="number" step="0.01" id="amount" required class="input-date">    
                            </div>
                        </div> 
                            <div class="right">
                            <label>Pago?</label>
                            <section  class="form-options">
                            <label class="option"><input type="radio" name="paid" value="true"> SI</label>
                            <label class="option"><input type="radio" name="paid" value="false"> NO</label>
                            </section>
                            </div>
                        </div>

                        <!-- Pagado -->
                        <div class="form-group">
                            
                            <section  class="form-options">

                            </section>
                        </div>

                        <!-- Método -->
                         <hr class="divider">
                        <div class="form-group">
                            <label>Método de pago:</label>
                            <section id="payment_method" class="form-options">
                                <label class="option"><input type="radio" name="PaidMethod" value="transfer"> Transferencia</label>
                                <label class="option"><input type="radio" name="PaidMethod" value="card"> Tarjeta/QR</label>
                                <label class="option"><input type="radio" name="PaidMethod" value="cash" id="isCash"> Efectivo</label>
                            </section>
                        </div>
                        <hr class="divider">
                        <!-- Flags -->
                        <div class="form-group">
                            <label>Tipo de envio:</label>
                            <section class="form-options">
                            
                        <label class="option">
                            
                                    <input type="radio" name="deliveryType" value="cadeteria" id="deliveryCadeteria">
                                    Cadetería
                                </label>

                                <label class="option">
                                    <input type="radio" name="deliveryType" value="retiro">
                                    Retiro
                                </label>

                                <label class="option">
                                    <input type="radio" name="deliveryType" value="correo">
                                    Correo
                                </label>
                            </section>
                            </div>
                        <hr class="divider">
                        <!-- Fecha envío -->
                         
                        <div id="shippingDateContainer" >
                            <label>Fecha de envío:</label>
                            <input type="date" id="shippingDate" class="input-date" >
                        </div>
                        

                        <!-- Notas -->
                        <div class="form-group">
                            <label>Aclaraciónes</label>
                            <section class="form-options">
                            <input type="text" class="input-text" id="notes" placeholder="Informacion para el cadete">
                            <label class="option">
                                
                            <input type="checkbox" id="hasChange">Es un cambio</label>
                            </section>
                        </div>

                        <!-- Acciones -->
                        <div class="form-actions">
                            <button type="submit" class="button-edit"id="btnCreateSale">Crear venta</button>
                        </div>
                    </form>
                </section>

                <!-- FORM CLIENTE -->
                <section class="form-panel hidden" id="customerFormDiv">
                    <h3 id="customerFormTitle">Crear cliente</h3><br>

                    <form id="customerForm">
                        <!-- todo el contenido igual que ahora -->

                        <input type="hidden" id="customerFormId">

                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" class="input-text" id="cf_first_name" required>
                        </div>

                        <div class="form-group">
                            <label>Apellido</label>
                            <input type="text" class="input-text" id="cf_last_name" required>
                        </div>

                        <div class="form-group">
                            <label>Dirección</label>
                            <input type="text" class="input-text" id="cf_address" required>
                        </div>

                        <div class="form-group">
                            <label>Localidad</label>
                            <input type="text" class="input-text" id="cf_city" required>
                        </div>

                        <div class="form-group">
                            <label>Teléfono</label>
                            <input type="text" class="input-text" id="cf_phone" required>
                        </div>

                        <div class="form-group">
                            <label>Descripción</label>
                            <textarea id="cf_description"></textarea>
                        </div>

                        <div class="form-actions">
                            <button type="submit" class="button-edit">Guardar</button>
                            <button type="button" class="button-delete" id="customerFormCancel">Cancelar</button>
                        </div>
                    </form>
                </section>

            </div>

                <!-- ÚLTIMAS VENTAS -->
                <div class="section-header">
                    <h2>Últimas ventas</h2>
                    <a href="{{ url_for('explore_sales') }}" class="btn">Ver más</a>
                </div>
                <br>
                <div class="table-wrapper" >
                    <table id="salesTable">
                        <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Cliente</th>
                            <th>Monto</th>
                            <th>Método</th>
                            <th>Pago</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

            </div>
        </main>

    </div>
</div>

<script src="{{ url_for('static', filename='js/ventas.js') }}"></script>
</body>
</html>
