<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Pedidos: Retiro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="layout">

    <!-- Sidebar -->
    <aside class="sidebar">
        <div class="logo">
            <a href="{{ url_for('index') }}" class="logo-link">
                <img src="{{ url_for('static', filename='images/logoinvert.png') }}"
                     alt="Logo Lunita Val"
                     class="logo">
            </a>
        </div>

        <nav class="menu">
            <a href="{{ url_for('index') }}" class="menu_btn">Vender</a>
            <a href="{{ url_for('sales.shipments_view') }}" class="menu_btn">Gestión de Cadeteria</a>
            <a href="{{ url_for('explore_sales') }}" class="menu_btn">Explorar ventas</a>
            <a href="{{ url_for('customers.manage_customers_view') }}" class="menu_btn">Clientes</a>
            <a href="{{ url_for('delivery.retiro_view') }}" class="menu_btn">Retiro</a>
            <a href="{{ url_for('delivery.correo_view') }}" class="menu_btn">Correo</a>
            <a href="{{ url_for('proximamente_view') }}" class="menu_btn">Venta en Vivo</a>
        </nav>
    </aside>
    <div class="main-content">
<!-- HEADER -->
        <header class="header">
            <h1 class="view-title">Gestión de Pedidos: Retiro</h1>

        </header>

    <main class="content">

    <!-- Contenido -->

        <div class="content-column">
                    <div class="container-proximamente">
            <h1>🚧 Próximamente 🚧</h1>
            <p>Estamos construyendo esta sección. Vuelve pronto para ver todas las novedades.</p>
            <a href="{{ url_for('index') }}" class="btn">Volver al inicio</a>
        </div>
    </div>
    </main>

</div>

</body>
</html>





